.main-banner {
  height: 400px;
  width: auto;
  background-image: url("images/banner-image.png");
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  opacity: 0.75;
  z-index: -2;
  position: relative;
}

.main-banner::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    backdrop-filter: blur(0.1);
  }
