.btn-yours {
  background-color: rgb(155, 78, 179);
  padding: 30px 15px;
  border-radius: 30px;
  color: rgb(97, 139, 194);
  font-weight: 700;
  text-shadow: 0 3px 5px black;
  box-shadow: 2px 4px 2px grey;
  border-color: rgb(192, 107, 218);
  border-bottom-width: 7px;
  border-right-width: 7px;
  border-style: ridge;
  transition: 0.2s ease;
}

.btn-yours:hover {
  background-color: rgb(200, 121, 224);
  border-color: rgb(217, 165, 233);
  color: rgb(147, 179, 221);
  text-shadow: 0 3px 5px rgb(58, 58, 58);
}

.btn-yours:focus {
  background-color: rgb(200, 121, 224);
  border-color: rgb(217, 165, 233);
  color: rgb(147, 179, 221);
  text-shadow: 0 3px 5px rgb(58, 58, 58);
}

.btn-yours:active {
  background-color: yellow;
  border-color: yellowgreen;
  color: orange;
  transform: scale(0.9, 0.9);
}

.main-button {

}
