.centering {
  display: flex;
  justify-content: center;
}

.main-body-container {
  width: 90%;
  max-height: 500px;
}

.footer-container {
  width: 100%;
  height: 15rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  background-color: rgb(18, 30, 53);
  color: rgb(49, 42, 54);
  text-shadow: 3px 3px 2px black;
  font-size: 1.5rem;
}

.language-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.language-icons-container img {
  height: 5rem;
  transition: 0.2s ease;
}

.language-icons-container img:hover {
  filter: brightness(1.2);
  filter: contrast(1.5);
  transform: scale(1.1);
}

.footer-container p {
  margin: 0;
}
