.centering {
  display: flex;
  justify-content: center;
}

.main-body-container {
  width: 95%;
  max-height: 600px;
}

.project-body-container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 600px;
  margin-bottom: 2rem;
}

.footer-container {
  width: 100%;
  height: 15rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  background-color: rgb(18, 30, 53);
  color: rgb(49, 42, 54);
  text-shadow: 3px 3px 2px black;
  font-size: 1.5rem;
}

.language-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.language-icons-container img {
  height: 5rem;
  transition: 0.2s ease;
}

.language-icons-container img:hover {
  filter: brightness(1.2);
  filter: contrast(1.5);
  transform: scale(1.1);
}

.footer-container p {
  margin: 0;
}

@media (max-width: 600px) {

  .project-body-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    translate: 0 -80px;
  }

  .language-icons-container img {
    height: 4rem;
  }

}
