.main-button-text {
  font-family: "Jaro";
  font-size: 2.25rem;
  translate: 0 -5px;
  color: rgb(255, 178, 229);
  text-shadow: 4px 4px 1px rgb(43, 8, 59, 0.6);
}

#center-big-text {
  font-family: "Jaro";
  font-size: 8rem;
  color: beige;
  text-shadow: 0px 6px 2px rgb(43, 8, 59, 0.6);
}
